main{
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
}

#footercontainer{
    position: fixed;
    margin-left: 30px;
    top: 0;
    font-family: Space Mono, monospace;
    font-weight: normal;
    color: black;
    font-size: 12px;
    line-height: 1em;
}

#footercontainer .footertitle{
    color: black;
    position: fixed;
    top: 10px;
    right: 40px;
}

.footertitle a:link {
    color: black;
    padding: 0px 0px;
    text-decoration: none;
}

.footertitle a:hover {
    background-color: yellow;
    text-decoration: underline;
    line-height: 1em;
}

.footertitle a:visted {
  color: black;
}

.footertitle a:active {
  color: black;
}


.nav-left {
  height: 4000px;
  width: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  mix-blend-mode: multiply;
}

.nav-right {
  height: 4000px;
  width: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  mix-blend-mode: multiply;
}

.nav-arrow-left {
  height: 0px;
  width: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: right;

  font-family: Space Mono, monospace;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.4;
}

.nav-arrow-right {
  height: 0px;
  width: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  font-family: Space Mono, monospace;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.4;
}

.nav-left:hover {
  background-color: yellow;
  mix-blend-mode: multiply;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
}

.nav-right:hover {
  background-color: yellow;
  mix-blend-mode: multiply;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
}




.navigation ul,
.navigation ul li,
.navigation ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  left: 0px;
}

.navigation ul {
  position: relative;
  z-index: 1;
  float: left;
}

.navigation ul li {
  float: left;
  line-height: 1em;
}

.navigation ul ul {
  visibility: hidden;
  position: absolute;
}

.navigation ul ul {
  top: 0;
  left: 100%;
}

.navigation a {
  display: block;
  padding: 1em 1em;
  text-decoration: none;
  color: black;
}

.navigation ul {width: 5em;}

.navigation ul ul {width: 6.3em;}

.navigation ul ul ul {width: 3em;}

.navigation ul li:hover > ul {visibility: visible;}

.navigation ul li:hover {
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-decoration: underline;
  background-color: yellow;
}

.navigation > ul > li:hover a {background: rgba(255,255,255,.9);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1); 
  mix-blend-mode: multiply;}