body{
	position: relative;
	width: 8100px;
	overflow: auto;
}

.container{
	width: 5050px;
	height: 1em;
	border: 200px ridge red;
	border-radius: 500px;
	padding: 1em;

	position: absolute;
	top:50%
	left:50%;

	margin: 140px 0 0 1300px;
}

.container:hover{border: 200px groove red;}