body{
	position: relative;
	width: 7050px;
	overflow: auto;
}

.container{
	width: 5100px;
	height: 1 px;
	border: 2px dashed #000000;
	border-radius: 300px;
	padding: 50px;

	position: absolute;
	top:50%
	left:50%;

	margin: 300px 0 0 1000px;
}