body{
	position: relative;
	width: 7800px;
	overflow: auto;
}

.container{
	width: 5050px;
	height: 1em;
	border: 200px ridge red;
	border-radius: 500px;
	padding: 1em;

	position: absolute;
	top:50%
	left:50%;

	margin: 80px 0 0 1100px;
}

.container:hover{border: 200px groove red;}