.container{
	display: inline-block;
	width: auto;
	height: auto;
	border: 2px solid #000000;
	border-radius: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 100px;

	font-family: Space Mono, monospace;
}

.container.verb{
	font-weight: normal;
    font-size: 90px;
}

.container.noun{
	font-weight: normal;
    font-size: 180px;
}

.container.huge{
	font-weight: italic;
    font-size: 250px;
    text-align: center;
}

.container:hover{
	border: 15px solid #000000;
}