.container{
	width: 0;
	height: auto;
	border: 100px inset yellow;
	border-radius: 0px;
	margin-top: 650px;
	margin-bottom: 650px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 0px;
}

.container:hover{
	border: 100px outset yellow;
}
