body { background: url('../assets/pose1.jpg');}

.text {
	display: inline-block;

	font-family: Gill Sans, sans-serif;
	font-size: 400pt;
	margin-top: -70px;
}


@media screen and (max-width: 1000px) {
  body { background: url('../assets/pose2.jpg')}
  .text {
  	font-size: 300pt;
  	color: red;
  	margin-top: -50px;
  }
}

@media screen and (max-width: 768px) {
  body { background: url('../assets/pose3.jpg');}
  .text {
  	font-size: 225pt;
  	color: blue;
  	margin-top: -30px;
  }
}

@media screen and (max-width: 600px) {
  body { background: url('../assets/pose4.jpg');}
  .text {
  	font-size: 150pt;
  	color: chartreuse;
  	margin-top: -10px;
  }
}

@media screen and (max-width: 480px) {
  body { background: url('../assets/pose5.jpg');}
  .text {
  	font-size: 100pt;
  	color: cyan;
  	margin-top: 0;
  }
}

@media screen and (max-width: 320px) {
  body { background: url('../assets/pose6.jpg');}
  .text {
  	font-size: 60pt;
  	color: magenta;
  	margin-top: 0;
  }
}