.canvas-1 {
	display: inline-flex;
	min-width: 200px;
	width: auto;
	min-height: 200px;
	height: auto;
	background: none;
	position: relative;
	padding: 45px;
}

.canvas-1- {
	display: inline-flex;
	min-width: 100px;
	width: auto;
	min-height: 200px;
	height: auto;
	background: none;
	position: relative;
	padding: 45px;
}

.canvas-var-1 {
	float: left;
	/*display: inline-flex;*/
	min-width: 200px;
	width: auto;
	min-height: 200px;
	height: auto;
	background: none;
	position: relative;
	padding: 0px;
}

.canvas-var-1- {
	float: left;
	/*display: inline-flex;*/
	min-width: 100px;
	width: auto;
	min-height: 200px;
	height: auto;
	background: none;
	position: relative;
	padding: 0px;
}

.canvas-2 {
	display: inline-block;
	width: 210px;
	height: 210px;
	background: none;
	position: relative;
	padding: 40px;
}

.canvas-3 {
	display: inline-block;
	width: 200px;
	height: 300px;
	background: none;
	position: relative;
	margin-top: 0px;
	padding: 45px;
}