.circle-tl {
    width: 80px;
    height: 80px;
    border-top-left-radius: 100px;
    border: 20px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}

	#tl1 {
	    margin-top: 0px;
	    margin-left: 0px;
	}

	#tl1- {
	    margin-top: 0px;
	    margin-left: 20px;
	}

	#tl2 {
	    margin-top: 0px;
	    margin-left: 100px;
	}

	#tl2- {
	    margin-top: 0px;
	    margin-left: 120px;
	}

	#tl3 {
	    margin-top: 100px;
	    margin-left: 0px;
	}

	#tl3- {
	    margin-top: 100px;
	    margin-left: 20px;
	}

	#tl4 {
	    margin-top: 100px;
	    margin-left: 100px;
	}

.circle-tr {
    width: 80px;
    height: 80px;
    border-top-right-radius: 100px;
    border: 20px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}

	#tr1 {
	    margin-top: 0px;
	    margin-left: 0px;
	}

	#tr1- {
	    margin-top: 0px;
	    margin-left: 20px;
	}

	#tr2 {
	    margin-top: 0px;
	    margin-left: 100px;
	}

	#tr2- {
	    margin-top: 0px;
	    margin-left: 120px;
	}

	#tr3 {
	    margin-top: 100px;
	    margin-left: 0px;
	}

	#tr3- {
	    margin-top: 100px;
	    margin-left: 20px;
	}

	#tr4 {
	    margin-top: 100px;
	    margin-left: 100px;
	}

	#tr4- {
	    margin-top: 90px;
	    margin-left: 100px;
	}

.circle-bl {
    width: 80px;
    height: 80px;
    border-bottom-left-radius: 100px;
    border: 20px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}

	#bl1 {
	    margin-top: 0px;
	    margin-left: 0px;
	}

	#bl1- {
	    margin-top: 0px;
	    margin-left: 20px;
	}

	#bl2 {
	    margin-top: 0px;
	    margin-left: 100px;
	}

	#bl2- {
	    margin-top: 0px;
	    margin-left: 120px;
	}

	#bl3 {
	    margin-top: 100px;
	    margin-left: 0px;
	}

	#bl3- {
	    margin-top: 100px;
	    margin-left: 20px;
	}

	#bl4 {
	    margin-top: 100px;
	    margin-left: 100px;
	}

.circle-br {
    width: 80px;
    height: 80px;
    border-bottom-right-radius: 100px;
    border: 20px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}

	#br1 {
	    margin-top: 0px;
	    margin-left: 0px;
	}

	#br1- {
	    margin-top: 0px;
	    margin-left: 20px;
	}

	#br2 {
	    margin-top: 0px;
	    margin-left: 100px;
	}

	#br2- {
	    margin-top: 0px;
	    margin-left: 120px;
	}

	#br3 {
	    margin-top: 100px;
	    margin-left: 0px;
	}

	#br3- {
	    margin-top: 100px;
	    margin-left: 20px;
	}

	#br4 {
	    margin-top: 100px;
	    margin-left: 100px;
	}

.line-vl {
	width: 20px;
	height: 200px;
	background: black;
	position: absolute;
	margin-left: 0px;
}

	#vl1 {
		transform-origin: 0% 0%;
		transform: scale(1, 0.5);
	}

.line-vm {
	width: 20px;
	height: 100px;
	background: black;
	position: absolute;
	margin-left: 100px;
}

.line-vr {
	width: 20px;
	height: 200px;
	background: black;
	position: absolute;
	margin-left: 180px;
}

	#vr0{
		transform-origin: 0% 100%;
		transform: scale(1, 0.05);
	}

.line-ht {
	width: 200px;
	height: 20px;
	background: black;
	position: absolute;
	margin-top: 0px;
}

	#ht1l {
			transform-origin: 0% 100%;
			transform: scale(0.5, 1);
		}

	#ht1r {
			transform-origin: 100% 0%;
			transform: scale(0.5, 1);
		}

.line-hm {
	width: 200px;
	height: 20px;
	background: black;
	position: absolute;
	margin-top: 90px;
}

	#hm1l- {
		transform-origin: 0% 0%;
		transform: scale(0.5, 1);
		margin-left: 10px;
	}

.line-hb {
	width: 200px;
	height: 20px;
	background: black;
	position: absolute;
	margin-top: 180px;
}

	#hb1l {
			transform-origin: 0% 100%;
			transform: scale(0.5, 1);
		}

	#hb1r {
			transform-origin: 100% 0%;
			transform: scale(0.5, 1);
		}

	#hb2 {
			transform-origin: 0% 0%;
			transform: scale(0.9, 1);			
		}