/*Animate*/
.animatemoveh{
    animation: amoveh 12s linear infinite;
}

@keyframes amoveh
    {
    0%   {transform: translate(0px, 0);}
    50%	  {transform: translate(1000px, 0);}
    100%   {transform: translate(0px, 0);}
    }

.animatescaleh{
    animation: ascaleh 12s linear infinite;
}

@keyframes ascaleh
    {
    0%   {transform: scale(0, 1); transform-origin: 0% 0%;}
    50%	  {transform: scale(10, 1); transform-origin: 0% 0%;}
    100%   {transform: scale(0, 1); transform-origin: 0% 0%;}
    }

.animatemovev{
    animation: amovev 12s linear infinite;
}

@keyframes amovev
    {
    0%   {transform: translate(0px, 0px);}
    50%	  {transform: translate(0px, 300px);}
    100%   {transform: translate(0px, 0px);}
    }

.animatescalev{
    animation: ascalev 12s linear infinite;
}

@keyframes ascalev
    {
    0%   {transform: scale(1, 0); transform-origin: 0% 0%;}
    50%	  {transform: scale(1, 3); transform-origin: 0% 0%;}
    100%   {transform: scale(1, 0); transform-origin: 0% 0%;}
    }

/*Transform*/
.moveleft10 {
	transform: translate(-10px, 0px);
}

.moveright10 {
	transform: translate(10px, 0px);
}

.moveright25hf {
	transform: translate(12.5px, 0px);
}

.moveright25 {
	transform: translate(25px, 0px);
}

.moveright50 {
	transform: translate(50px, 0px);
}

.moveright100 {
	transform: translate(100px, 0px);
}

.moveup10 {
	transform: translate(0px, -10px);
}

.moveup25 {
	transform: translate(0px, -25px);
}

.moveup50 {
	transform: translate(0px, -50px);
}

.movedown10 {
	transform: translate(0px, 10px);
}

.movedown25 {
	transform: translate(0px, 25px);
}

.movedown50 {
	transform: translate(0px, 50px);
}

.movedown100 {
	transform: translate(0px, 100px);
}

.scaleh2 {
	transform-origin: 0% 0%;
	transform: scale(2, 1);
}

.scaleh10 {
	transform-origin: 0% 0%;
	transform: scale(10, 1);
}

.scalev2 {
	transform-origin: 0% 0%;
	transform: scale(1, 2);
}

.scalev10 {
	transform-origin: 0% 0%;
	transform: scale(1, 10);
}

/*Components*/

.circle-tl {
    width: 80px;
    height: 80px;
    border-top-left-radius: 100px;
    border: 20px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}

.circle-tr {
    width: 80px;
    height: 80px;
    border-top-right-radius: 100px;
    border: 20px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
    margin-top: 0px;
	margin-left: 0px;
}

.circle-bl {
    width: 80px;
    height: 80px;
    border-bottom-left-radius: 100px;
    border: 20px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
    margin-top: 0px;
	margin-left: 0px;
}

.circle-br {
    width: 80px;
    height: 80px;
    border-bottom-right-radius: 100px;
    border: 20px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
    margin-top: 0px;
	margin-left: 0px;
}

.line-v {
	width: 20px;
	height: 100px;
	background: black;
	position: absolute;
	margin-left: 0px;
	margin-top: 0px;
}

.line-h {
	width: 100px;
	height: 20px;
	background: black;
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
}



.punct-circle {
    width: 10px;
    height: 10px;
    border-radius: 25px;
    border: 20px solid black;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}

.punct-circle-br {
    width: 5px;
    height: 5px;
    border-bottom-right-radius: 25px;
    border: 20px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}

.punct-circle-l-t {
    width: 60px;
    height: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 20px solid black;
    border-bottom: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}

.punct-circle-l-tl {
    width: 30px;
    height: 30px;
    border-top-left-radius: 50px;
    border: 20px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}

.punct-circle-l-tr {
    width: 30px;
    height: 30px;
    border-top-right-radius: 50px;
    border: 20px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}

.punct-circle-l-bl {
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 50px;
    border: 20px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}

.punct-circle-l-br {
    width: 30px;
    height: 30px;
    border-bottom-right-radius: 50px;
    border: 20px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}

.punct-line-v {
	width: 20px;
	height: 50px;
	background: black;
	position: absolute;
	margin-left: 0px;
	margin-top: 0px;
}

.punct-line-h {
	width: 50px;
	height: 20px;
	background: black;
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
}

