.letter-definition {
	/*display: none;*/
}

.letter {
	height: 100px;
	display: inline-block;
	margin: 8px;
}

.space {
	width: 100px;
	height: 100px;
}


.A {
	width: 100px;
	position: relative;
}

.lines-A {
	background-image: url("A.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.A .vert {
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.A .hor1 {
	left: 5px;
	top: 45px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.A .hor2 {
	top: 90px;
	left: 95px;
	width: 5px;
	height: 10px;
	background: black;
	position: absolute;
}

.A .tr {
	left: 5px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}

.A .bl {
	left: 45px;
	top: 50px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}



.B {
	width: 100px;
	position: relative;
}

.lines-B {
	background-image: url("B.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.B .vert {
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.B .hor1 {
	top: 45px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.B .hor2 {
	top: 90px;
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.B .tr1 {
	left: 5px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}

.B .tr2 {
	left: 50px;
	top: 45px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}



.C {
	width: 100px;
	position: relative;
}

.lines-C {
	background-image: url("C-G.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.C .vert {
	top: 45px;
	width: 10px;
	height: 50px;
	background: black;
	position: absolute;
}

.C .hor1 {
	left: 50px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.C .hor2 {
	top: 90px;
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.C .tl {
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}



.D {
	width: 100px;
	position: relative;
}

.lines-D {
	background-image: url("D.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.D .vert1 {
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.D .vert2 {
	left: 90px;
	top: 50px;
	width: 10px;
	height: 50px;
	background: black;
	position: absolute;
}

.D .hor1 {
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.D .hor2 {
	top: 90px;
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.D .tr {
	left: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}



.E {
	width: 100px;
	position: relative;
}

.lines-E {
	background-image: url("E.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.E .vert {
	top: 45px;
	width: 10px;
	height: 50px;
	background: black;
	position: absolute;
}

.E .hor1 {
	left: 50px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.E .hor2 {
	top: 45px;
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.E .hor3 {
	top: 90px;
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.E .tl {
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}



.F {
	width: 100px;
	position: relative;
}

.lines-F {
	background-image: url("F.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.F .vert {
	top: 45px;
	width: 10px;
	height: 50px;
	background: black;
	position: absolute;
}

.F .hor1 {
	left: 50px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.F .hor2 {
	top: 45px;
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.F .tl {
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}



.G {
	width: 100px;
	position: relative;
}

.lines-G {
	background-image: url("C-G.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.G .vert {
	top: 50px;
	width: 10px;
	height: 50px;
	background: black;
	position: absolute;
}

.G .hor1 {
	left: 50px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.G .hor2 {
	top: 90px;
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.G .hor3 {
	top: 45px;
	left: 45px;
	width: 5px;
	height: 10px;
	background: black;
	position: absolute;
}

.G .tl {
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}

.G .tr {
	left: 50px;
	top: 45px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}



.H {
	width: 100px;
	position: relative;
}

.lines-H {
	background-image: url("H.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.H .vert1 {
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.H .vert2 {
	left: 45px;
	width: 10px;
	height: 50px;
	background: black;
	position: absolute;
}

.H .hor1 {
	left: 5px;
	top: 45px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.H .hor2 {
	top: 90px;
	left: 95px;
	width: 5px;
	height: 10px;
	background: black;
	position: absolute;
}

.H .bl {
	left: 45px;
	top: 50px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}




.I {
	width: 100px;
	position: relative;
}

.lines-I {
	background-image: url("I.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.I .vert {
	left: 45px;
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.I .hor1 {
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.I .hor2 {
	top: 90px;
	left: 50px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.I .tr {
	left: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}

.I .bl {
	top: 50px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}




.J {
	width: 100px;
	position: relative;
}

.lines-J {
	background-image: url("J-U.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.J .vert {
	left: 90px;
	width: 10px;
	height: 50px;
	background: black;
	position: absolute;
}

.J .bl {
	top: 50px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}

.J .br {
	top: 50px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-bottom-right-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}



.K {
	width: 100px;
	position: relative;
}

.lines-K {
	background-image: url("K.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.K .vert {
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.K .hor {
	top: 50px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.K .tr {
	left: 50px;
	top: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}

.K .br {
	left: 5px;
	width: 40px;
    height: 40px;
    border-bottom-right-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}



.L {
	width: 100px;
	position: relative;
}

.lines-L {
	background-image: url("L.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}


.L .vert {
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.L .hor {
	top: 90px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.L .br {
	top: 50px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-bottom-right-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}



.M {
	width: 100px;
	position: relative;
}

.lines-M {
	background-image: url("M.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.M .vert1 {
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.M .vert2 {
	left: 45px;
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.M .vert3 {
	top: 50px;
	left: 90px;
	width: 10px;
	height: 50px;
	background: black;
	position: absolute;
}

.M .tr1 {
	left: 5px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}

.M .tr2 {
	left: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}



.N {
	width: 100px;
	position: relative;
}

.lines-N {
	background-image: url("N.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.N .vert1 {
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.N .vert2 {
	left: 90px;
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.N .tr {
	left: 5px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}

.N .bl {
	left: 45px;
	top: 50px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}



.O {
	width: 100px;
	position: relative;
}

.lines-O {
	background-image: url("O-Q.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.O .tl {
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}

.O .tr {
	left: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}

.O .bl {
	top: 50px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}

.O .br {
	top: 50px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-bottom-right-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}



.P {
	width: 100px;
	position: relative;
}

.lines-P {
	background-image: url("P-R.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.P .vert {
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.P .hor1 {
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.P .hor2 {
	top: 45px;
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.P .tr {
	left: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}



.Q {
	width: 100px;
	position: relative;
}

.lines-Q {
	background-image: url("O-Q.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.R .hor {
	top: 90px;
	left: 95px;
	width: 5px;
	height: 10px;
	background: black;
	position: absolute;
}

.Q .tl {
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}

.Q .tr {
	left: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}

.Q .bl1 {
	top: 50px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}

.Q .bl2 {
	top: 50px;
	left: 45px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}

.Q .br {
	top: 50px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-bottom-right-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}



.R {
	width: 100px;
	position: relative;
}

.lines-R {
	background-image: url("P-R.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.R .vert {
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.R .hor1 {
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.R .hor2 {
	top: 45px;
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.R .hor3 {
	top: 90px;
	left: 95px;
	width: 5px;
	height: 10px;
	background: black;
	position: absolute;
}

.R .tr {
	left: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}

.R .bl {
	top: 50px;
	left:45px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}



.S {
	width: 100px;
	position: relative;
}

.lines-S {
	background-image: url("S.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.S .hor1 {
	left: 50px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.S .hor2 {
	top: 45px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.S .hor3 {
	top: 90px;
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.S .tl {
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}

.S .tr {
	top: 45px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}



.T {
	width: 100px;
	position: relative;
}

.lines-T {
	background-image: url("I-T-7.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.T .vert {
	left: 45px;
	width: 10px;
	height: 50px;
	background: black;
	position: absolute;
}

.T .hor1 {
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.T .hor2 {
	top: 90px;
	left: 95px;
	width: 5px;
	height: 10px;
	background: black;
	position: absolute;
}

.T .bl {
	left: 45px;
	top: 50px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}



.U {
	width: 100px;
	position: relative;
}

.lines-U {
	background-image: url("J-U.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.U .vert1 {
	width: 10px;
	height: 50px;
	background: black;
	position: absolute;
}

.U .vert2 {
	left: 90px;
	width: 10px;
	height: 50px;
	background: black;
	position: absolute;
}

.U .bl {
	top: 50px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}

.U .br {
	top: 50px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-bottom-right-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}



.V {
	width: 100px;
	position: relative;
}

.lines-V {
	background-image: url("V.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.V .vert1 {
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.V .vert2 {
	left: 90px;
	width: 10px;
	height: 50px;
	background: black;
	position: absolute;
}

.V .hor {
	top: 90px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.V .br {
	top: 50px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-bottom-right-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}



.W {
	width: 100px;
	position: relative;
}

.lines-W {
	background-image: url("W.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.W .vert1 {
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.W .vert2 {
	left: 45px;
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.W .vert3 {
	left: 90px;
	width: 10px;
	height: 50px;
	background: black;
	position: absolute;
}

.W .br1 {
	top: 50px;
	left: 5px;
	width: 40px;
    height: 40px;
    border-bottom-right-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}

.W .br2 {
	top: 50px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-bottom-right-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}



.X {
	width: 100px;
	position: relative;
}

.lines-X {
	background-image: url("X.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.X .vert1 {
	width: 10px;
	height: 5px;
	background: black;
	position: absolute;
}

.X .vert2 {
	left: 90px;
	width: 10px;
	height: 5px;
	background: black;
	position: absolute;
}

.X .vert3 {
	top: 95px;
	width: 10px;
	height: 5px;
	background: black;
	position: absolute;
}

.X .vert4 {
	top: 95px;
	left: 90px;
	width: 10px;
	height: 5px;
	background: black;
	position: absolute;
}

.X .tl {
	top: 45px;
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}

.X .tr {
	top: 45px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}

.X .bl {
	top: 5px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}

.X .br {
	top: 5px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-bottom-right-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}



.Y {
	width: 100px;
	position: relative;
}

.lines-Y {
	background-image: url("Y.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.Y .vert1 {
	left: 90px;
	width: 10px;
	height: 50px;
	background: black;
	position: absolute;
}

.Y .vert2 {
	width: 10px;
	height: 5px;
	background: black;
	position: absolute;
}

.Y .hor1 {
	top: 45px;
	left: 50px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.Y .hor2 {
	top: 90px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.Y .bl {
	top: 5px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}

.Y .br {
	top: 50px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-bottom-right-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}



.Z {
	width: 100px;
	position: relative;
}

.lines-Z {
	background-image: url("Z.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.Z .hor1 {
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.Z .hor2 {
	top: 90px;
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.Z .tl {
	top: 45px;
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}

.Z .br {
	top: 5px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-bottom-right-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}



.one {
	width: 100px;
	position: relative;
}

.lines-one {
	background-image: url("1.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.one .vert {
	left: 45px;
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.one .tl {
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}



.two {
	width: 100px;
	position: relative;
}

.lines-two {
	background-image: url("2.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.two .hor1 {
	top: 45px;
	left: 50px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.two .hor2 {
	top: 90px;
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.two .tl1 {
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}

.two .tl2 {
	top: 45px;
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}

.two .tr {
	left: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}



.three {
	width: 100px;
	position: relative;
}

.lines-three {
	background-image: url("3.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.three .hor1 {
	top: 45px;
	left: 50px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.three .hor2 {
	top: 90px;
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.three .tl {
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}

.three .tr1 {
	left: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}

.three .tr2 {
	top: 45px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}



.four {
	width: 100px;
	position: relative;
}

.lines-four {
	background-image: url("4.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.four .vert1 {
	left: 90px;
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.four .vert2 {
	width: 10px;
	height: 5px;
	background: black;
	position: absolute;
}

.four .hor {
	top: 45px;
	left: 50px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.four .bl {
	top: 5px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}



.five {
	width: 100px;
	position: relative;
}

.lines-five {
	background-image: url("5.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.five .hor1 {
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.five .hor2 {
	top: 90px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.five .hor3 {
	top: 45px;
	left: 50px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.five .bl {
	top: 5px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}

.five .br {
	top: 50px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-bottom-right-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}



.six {
	width: 100px;
	position: relative;
}

.lines-six {
	background-image: url("6.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.six .hor1 {
	left: 5px;
	top: 45px;
	width: 95px;
	height: 10px;
	background: black;
	position: absolute;
}

.six .hor2 {
	left: 50px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.six .tl {
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}

.six .bl {
	top: 50px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}

.six .br {
	top: 50px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-bottom-right-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}



.seven {
	width: 100px;
	position: relative;
}

.lines-seven {
	background-image: url("7.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.seven .vert {
	left: 90px;
	width: 10px;
	height: 100px;
	background: black;
	position: absolute;
}

.seven .hor {
	left: 50px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.seven .tl {
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}



.eight {
	width: 100px;
	position: relative;
}

.lines-eight {
	background-image: url("8.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.eight .hor1 {
	top: 45px;
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.eight .hor2 {
	top: 90px;
	width: 100px;
	height: 10px;
	background: black;
	position: absolute;
}

.eight .tl1 {
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}

.eight .tl2 {
	top: 45px;
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}

.eight .tr1 {
	left: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}

.eight .tr2 {
	top: 45px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}





.nine {
	width: 100px;
	position: relative;
}

.lines-nine {
	background-image: url("9.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.nine .hor1 {
	top: 45px;
	width: 95px;
	height: 10px;
	background: black;
	position: absolute;
}

.nine .hor2 {
	top: 90px;
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
}

.nine .tl {
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}

.nine .tr {
	left: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}

.nine .br {
	top: 50px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-bottom-right-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}



.zero {
	width: 100px;
	position: relative;
}

.lines-zero {
	background-image: url("zero.png");
	background-size: 100%;
	width: 100px;
	height: 100px;
}

.zero .hor {
	left: 5px;
	top: 45px;
	width: 90px;
	height: 10px;
	background: black;
	position: absolute;
}
.zero .tl {
	width: 40px;
    height: 40px;
    border-top-left-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
}

.zero .tr {
	left: 50px;
	width: 40px;
    height: 40px;
    border-top-right-radius: 50px;
    border: 10px solid black;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
}

.zero .bl {
	top: 50px;
	width: 40px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-right: 0;
    position: absolute;
}

.zero .br {
	top: 50px;
	left: 50px;
	width: 40px;
    height: 40px;
    border-bottom-right-radius: 50px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
}



.exclamation {
	width: 25px;
	position: relative;
}

.lines-exclamation {
	background-image: url("exclamation.png");
	background-size: 100%;
	width: 25px;
	height: 100px;
}

.exclamation .vert {
	left: 7.5px;
	width: 10px;
	height: 50px;
	background: black;
	position: absolute;
}

.exclamation .circ {
	top: 75px;
	width: 5px;
    height: 5px;
    border-radius: 12.5px;
    border: 10px solid black;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}



.question {
	width: 50px;
	position: relative;
}

.lines-question {
	background-image: url("question.png");
	background-size: 100%;
	width: 50px;
	height: 100px;
}

.question .vert {
	top: 25px;
	left: 20px;
	width: 10px;
	height: 25px;
	background: black;
	position: absolute;
}

.question .hor {
	top: 25px;
	left: 20px;
	width: 30px;
	height: 10px;
	background: black;
	position: absolute;
}

.question .top {
	width: 30px;
    height: 15px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 10px solid black;
    border-bottom: 0;
    position: absolute;
}

.question .circ {
	left: 12.5px;
	top: 75px;
	width: 5px;
    height: 5px;
    border-radius: 12.5px;
    border: 10px solid black;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}



.period {
	width: 25px;
	position: relative;
}

.lines-period{
	background-image: url("period.png");
	background-size: 100%;
	width: 25px;
	height: 100px;
}

.period .circ {
	top: 75px;
	width: 5px;
    height: 5px;
    border-radius: 12.5px;
    border: 10px solid black;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}



.comma {
	width: 25px;
	position: relative;
}

.lines-comma{
	background-image: url("comma.png");
	background-size: 100%;
	width: 25px;
	height: 100px;
}

.comma .br {
	top: 75px;
	width: 15px;
    height: 15px;
    border-bottom-right-radius: 25px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}




.colon {
	width: 25px;
	position: relative;
}

.lines-colon{
	background-image: url("comma.png");
	background-size: 100%;
	width: 25px;
	height: 100px;
}

.lines-colon{
	background-image: url("colon.png");
	background-size: 100%;
	width: 25px;
	height: 100px;
}

.colon .circ1 {
	width: 5px;
    height: 5px;
    border-radius: 12.5px;
    border: 10px solid black;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}

.colon .circ2 {
	top: 75px;
	width: 5px;
    height: 5px;
    border-radius: 12.5px;
    border: 10px solid black;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}


.semicolon {
	width: 25px;
	position: relative;
}

.lines-semicolon{
	background-image: url("comma.png");
	background-size: 100%;
	width: 25px;
	height: 100px;
}

.semicolon .circ {
	width: 5px;
    height: 5px;
    border-radius: 12.5px;
    border: 10px solid black;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}

.semicolon .br {
	top: 75px;
	width: 15px;
    height: 15px;
    border-bottom-right-radius: 25px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}




.singlequotel {
	width: 25px;
	position: relative;
}

.singlequotel{
	background-image: url("singlequotel.png");
	background-size: 100%;
	width: 25px;
	height: 100px;
}

.singlequotel .tl {
	width: 15px;
    height: 15px;
    border-top-left-radius: 25px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}




.singlequoter {
	width: 25px;
	position: relative;
}

.singlequoter{
	background-image: url("singlequoter.png");
	background-size: 100%;
	width: 25px;
	height: 100px;
}

.singlequoter .br {
	width: 15px;
    height: 15px;
    border-bottom-right-radius: 25px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}



.doublequotel {
	width: 50px;
	position: relative;
}

.doublequotel{
	background-image: url("singlequotel.png");
	background-size: 100%;
	width: 50px;
	height: 100px;
}

.doublequotel .tl1 {
	width: 15px;
    height: 15px;
    border-top-left-radius: 25px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}

.doublequotel .tl2 {
	left: 25px;
	width: 15px;
    height: 15px;
    border-top-left-radius: 25px;
    border: 10px solid black;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}




.doublequoter {
	width: 50px;
	position: relative;
}

.doublequoter{
	background-image: url("singlequoter.png");
	background-size: 100%;
	width: 50px;
	height: 100px;
}

.doublequoter .br1 {
	width: 15px;
    height: 15px;
    border-bottom-right-radius: 25px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}

.doublequoter .br2 {
	left: 25px;
	width: 15px;
    height: 15px;
    border-bottom-right-radius: 25px;
    border: 10px solid black;
    border-top: 0;
    border-left: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
}
