/* Put your CSS here! */
body {
      margin: 75px;
      color: black;
      font-family: "Arnhem", Arnhem, monospace;
      background-color: white;
      background-image: none;
      background-position: 50% 50%;
      background-repeat: repeat-y;
    }