/* Put your CSS here! */
body {
    margin: 75px;
    color: yellow;
	font-family: 'Libre Franklin', sans-serif;
	text-transform: uppercase;
	-webkit-text-stroke: 3px black;
	font-size: 70pt;
	letter-spacing: 0.3em;
	line-height: 1.5em;
	text-align: center;
    }

a:link {
  	color: yellow;
  	-webkit-text-stroke: 3px black;
  	letter-spacing: 0.2em;
  	text-decoration: underline;
  }

a:visited {
  	color: yellow;
  	-webkit-text-stroke: 3px black;
   	text-decoration: none;
  }

ul {
  list-style-type: none;
  padding: 0;
}
