.container{
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	top: 100px;
	text-align: center;
}

.text1{
	font-family: 'droit sans mono', monospace;
	font-weight: normal;
	font-style: normal;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 10px;
}

.text1:hover{
	font-weight: bolder;
}

.text2{
	font-family: 'pt mono', monospace;
	font-weight: lighter;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 10px;
}

.text2:hover{
	font-weight: bolder;
}

.text3{
	font-family: 'roboto mono', monospace;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 10px;
}

.text3:hover{
	font-weight: bolder;
}